/*
======================================
Block Level
======================================
*/
body {
  //background: lighten($colorBody, 90%);
  color: $color-primary;
  font-family: $font-family-base;
  overflow-x: hidden;
  background: rgba(0,0,0,1);
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0 6px;

  &:before, &:after {
    background: rgba(0,0,0,1);
    content: '';
    display: block;
    height: 6px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    z-index: 99999;
  }
}
.canvas-wrap {
  background: rgba(255,255,255,1);
  overflow: hidden;
  width: 100%;
}
.row.row-wide {
  width: 100%;
  max-width: 1680px;
}
.columns {
  overflow: hidden;
}
.header-main {
  height: 40vh;
  padding: 100px 0 0;

  @include laptop {
    height: 35vh;
    padding-top: 50px;
  }
}
.intro-wrap {
  height: 100vh;

  @include laptop {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.intro-main {
  height: 60vh;

  @include laptop {
    height: 65vh;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}