/*
======================================
Block Level
======================================
*/

.canvas-wrap {
  background: rgba(255,255,255,1);
  overflow: hidden;
  width: 100%;
}

.header-main {
  height: 30vh;
  padding: 50px 0 0;
}
.intro-wrap {
  height: 100vh;
}
.intro-main {
  height: 70vh;
}