/*
======================================
Components
======================================
*/
.canvas-wrap {
  background: rgba(255,255,255,1);
  overflow: hidden;
  width: 100%;
}
.row.row-wide {
  width: 100%;
  max-width: 1680px;
}
.columns {
  overflow: hidden;
}
.header-main {
  height: 40vh;
  padding: 100px 0 0;

  @include laptop {
    height: 35vh;
    padding-top: 50px;
  }
}
.intro-wrap {
  height: 100vh;

  @include laptop {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.intro-main {
  height: 60vh;

  @include laptop {
    height: 65vh;
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.brand-logo {
  background: url("../img/lw-interactive.png") no-repeat;
  display: inline-block;
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 266px;
}
.projects {
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.projects-last {
  margin-bottom: 8px;
}
.project-bg {
  //border-top: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  height: 400px;
}
.gs-bg {
  background: url("../img/gifted-scholars-lg.jpg") center center no-repeat;
}

.fabc-bg {
  background: url("../img/fabc-lg.jpg") center center no-repeat;
}

.sii-bg {
  background: url("../img/sii-lg.jpg") center center no-repeat;
}

.pt-bg {
  background: url("../img/pt-lg.jpg") center center no-repeat;
}

.n2n-bg {
  background: url("../img/n2n-lg.jpg") center center no-repeat;
}

.mc-bg {
  background: url("../img/mc-lg.png") center center no-repeat;
}

.lw-bg {
  background: url("../img/lw-lg.png") center center no-repeat;
}
