/*
======================================
Components
======================================
*/


.brand-logo {
  background: url("../img/lw-interactive.png") no-repeat;
  display: inline-block;
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 266px;
}
.gs-bg {
  background: url("../img/gifted-scholars-lg.jpg") no-repeat;
  height: 660px;
}
.gs- {
  background: #000;
}
.fabc-bg {
  background: url("../img/fabc-lg.jpg") no-repeat;
  height: 660px;
}
.fabc- {
  background: #000;
}
.sii-bg {
  background: url("../img/sii-lg.jpg") no-repeat;
  height: 660px;
}
.sii- {
  background: #000;
}
.pt-bg {
  background: url("../img/pt-lg.jpg") no-repeat;
  height: 660px;
}
.pt- {
  background: #000;
}
.mc-bg {
  background: url("../img/mc-lg.png") no-repeat;
  height: 660px;
}
.mc- {
  background: #404040;
}