/*
======================================
Components
======================================
*/


.brand-logo {
  background: url("../img/lw-interactive.png") no-repeat;
  display: inline-block;
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 266px;
}