/*
========================================================
Header
========================================================
*/

.canvas-wrap {
  background: rgba(255,255,255,1);
  overflow: hidden;
}

.intro-wrap {
  height: 100vh;
}
.intro-main {
  height: 65vh;
  
  h1 {
    color: $primary-color;
  }
  p {
    color: $primary-color-light;
  }
}
.header-main {
  height: 35vh;
  padding: 50px 0;
}